<html>
    <head>
    <title>AI & Big Data Project 2조</title>
    </head>
    <body>
        <div>
            <h1><a href="">AI & Big Data Project 2조</a></h1>
        </div>

        <div>
            <p>published: 2019.02.25, 14:45</p>
            <h2><a href="">First post</a></h2>
            <p>Hello! world</p>
        </div>

        <div>
            <p>published: 2019.02.25, 15:00</p>
            <h2><a href="">Scond post</a></h2>
            <p>Good Bye! world</p>
        </div>
    </body>
</html>