<!DOCTYPE html>
<style>
.left-box {
  background: white;
  float: left;
  width: 90%;
}
.right-box {
  background: white;
  float: right;
  width: 10%;
}
</style>


{% extends 'blog/base.html' %}

{% block content %}

<html>
    <head>
      <meta charset="utf-8">
      <title>Django Highcharts Example</title>
    </head>
    <body>
        <div id="container"></div>
          <script src="https://code.highcharts.com/highcharts.src.js"></script>
          <script>
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '환자의 질병 위험도'
                },
                xAxis: {
                    categories: ['환자']
                },
                yAxis: {
                    title: {
                        text: '위험도 수치'
                    },
                },
                series: [{
                    name: '당뇨병 위험도',
                    data: [{{a}}],
                }, {
                    name: '고혈압 위험도',
                    data: [{{b}}]
                }, {
                    name: '이상지질혈증 위험도',
                    data: [{{c}}]
                }],
            });

          </script>

    </body>
    </html>

    <div>
        <h2 id="pageTitle">주요질병 관리</h2>
        <div id="content">
            <div class ="editorContents">
                <div class ="newDept subContents">
                    <p style="line-height: 18pt; margin-top: 0px; margin-bottom: 0px;">

                        <h4 style="color: rgb(0,0,128);">일상생활 주요질병 관리</h4>
                        &nbsp주요질병은 치료되는 병이 아니고 조절되는 병 이어서 주요질병에 대한 전반적인 지식습득과 함께 지속적인 관리가 필요합니다.<br><br>
                        1. 항상 규칙적인 생활을 해야 합니다. (식사시간, 식사량, 숙면시간, 약복용시간)<br>
                        2. 표준체중 조절을 위해 식사요법과 운동요법을 철저히 해야합니다.<br>
                        3. 규칙적으로 병원을 방문해야 합니다.<br>
                        4. 의사의 처방을 받지 않은 약물은 함부로 복용하지 않습니다.<br>

                    </p>

                    <p style="line-height: 18pt; margin-top: 0px; margin-bottom: 0px;">
                        <h4 style="color: rgb(0,0,128);">식사요법의 기본 원칙</h4>
                        1. 매일 일정한 시간에 알맞은 양의 음식을 규칙적으로 먹습니다.<br>
                        2. 설탕이나 꿀 등 단순당의 섭취를 주의합니다.<br>
                        3. 식이섬유소를 적절히 섭취합니다.<br>
                        4. 지방을 적정량 섭취하며 콜레스테롤의 섭취를 제한합니다.<br>
                        5. 소금 섭취를 줄입니다.<br>
                        6. 술은 피하는 것이 좋습니다.<br>
                    </p>

                    <p style="line-height: 18pt; margin-top: 0px; margin-bottom: 0px;">
                        <h4 style="color: rgb(0,0,128);">피해야할 음식</h4>
                        1. 젤리, 잼, 통조림, 과일<br>
                        2. 프렌치프라이, 튀김류<br>
                        3. 사탕, 쿠키, 시럽<br>
                        4. 흰 밀가루, 흰쌀 (정제된 탄수화물)<br>
                        5. 탄산음료<br>
                        6. 핫도그, 베이컨 (가공육)<br>
                    </p>
                </div>
            </div>
        </div>

        <div>
            <script language='JavaScript'>
            var a;
            a = {{mx}};
            </script>
            <br><br>
            <h4>위험도에 따른 섭취권유 음식</h4>

            {% if a > 90 %}
            <h5>위험도 90% 이상</h5>
            ' 실생활 관리가 필요한 단계에 있습니다. 아래 식이요법을 강력히 권고합니다.'<br>
            1. 평소 섬유소가 많은 잡곡류(현미밥, 잡곡밥, 보리밥)를 추천드리며 정제된 탄수화물(흰쌀, 밀가루)의 섭취를 줄이셔야 합니다.<br>
            2. 염분이 적은 맑은 국을 소량 드셔야 합니다. (콩나물국, 된장찌개, 동태국)<br>
            3. 포화지방의 함량이 적은 생선과 소고고기 등의 살코기 부위로 드시되, 등푸른생선을 드시실 권장합니다.<br>
            4. 매일 신선한 야채를 충분히 먹습니다. (시금치와 같은 녹황색 채소, 양파, 마늘)<br>
            5. 저지방, 기름기를 뺀 제품을 먹습니다. (저지방 우유, 저지방 치즈)<br>
            6. 포화 지방의 섭취는 줄이고, 불포화 지방으로 영양을 대체합니다. (올리브유, 들기름 등의 식물성 기름과 견과류(호두, 땅콩, 아몬드))<br>
            7. 평상시 영양성분표를 확인하고, 식사계획서를 작성합니다.<br>
            8. 식이요법과 약물치료를 동시에 하길 강력히 권고합니다.<br>

            {% elif a > 60 %}
            '정상치보다 3단계 높은 '위험'단계에 있습니다. 아래 식이요법을 강력히 권고합니다.'<br>
            1. 평소 섬유소가 많은 잡곡류(현미밥, 잡곡밥, 보리밥)를 추천드리며 정제된 탄수화물(흰쌀, 밀가루)의 섭취를 줄이셔야 합니다.<br>
            2. 염분이 적은 맑은 국을 소량 드셔야 합니다. (콩나물국, 된장찌개, 동태국)<br>
            3. 포화지방의 함량이 적은 생선과 소고고기 등의 살코기 부위로 드시되, 등푸른생선을 드시실 권장합니다.<br>
            4. 매일 신선한 야채를 충분히 먹습니다. (시금치와 같은 녹황색 채소, 양파, 마늘)<br>
            5. 저지방, 기름기를 뺀 제품을 먹습니다. (저지방 우유, 저지방 치즈)<br>
            6. 포화 지방의 섭취는 줄이고, 불포화 지방으로 영양을 대체합니다. (올리브유, 들기름 등의 식물성 기름과 견과류(호두, 땅콩, 아몬드))<br>
            7. 평상시 영양성분표를 확인하고, 식사계획서를 작성합니다.<br>
            8. 약물 섭취를 권장합니다.<br>
            {% elif a > 30 %}
            <h5>위험도 30 ~ 60%</h5>
            양파, 마늘, 땅콩, 녹황색 채소, 팥, 돼지감자, 두릅, 블루베리
            육류보단 등푸른생선 권장
            {% elif a > 0 %}
            <h5>위험도 0 ~ 30%</h5>
            ' 정상치보다 1단계 높은 '경고'범위에 있습니다. 아래 식이요법을 권고합니다.'<br>
            1. 평소 섬유소가 많은 잡곡류(현미밥, 잡곡밥, 보리밥)를 추천드리며 정제된 탄수화물(흰쌀, 밀가루)의 섭취를 줄이셔야 합니다.<br>
            2. 염분이 적은 맑은 국을 소량 드셔야 합니다. (콩나물국, 된장찌개, 동태국)<br>
            3. 포화지방의 함량이 적은 생선과 소고고기 등의 살코기 부위로 드시는걸 권장합니다.<br>
            4. 매일 신선한 야채를 충분히 먹습니다. (시금치와 같은 녹황색 채소, 양파, 마늘)<br>
            5. 포화 지방의 섭취는 줄이고, 불포화 지방으로 영양을 대체합니다. (올리브유, 들기름 등의 식물성 기름과 견과류(호두, 땅콩, 아몬드))<br>

            {% else %}
            <h5>위험도 0% 이하</h5>
            위험도 0% 이하
            '식이요법이 필요한 위험범위에 있지 않습니다. 가족력이 있다면, 식사요법의 기본원칙을
            지키며 생활하시길 권고합니다.'

            {% endif %}

        </div>


    </div>

{% endblock %}

