{% extends 'blog/base.html' %}

{% block content %}

<html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<body>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
Highcharts.chart('container', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
        }
    },
    title: {
        text: '당뇨병 환자 비율'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }
    },
    series: [{
        type: 'pie',
        name: 'Browser share',
        data: [
            ['Firefox', 45.0],
            ['IE', 26.8],
            {
                name: 'Chrome',
                y: 12.8,
                sliced: true,
                selected: true
            },
            ['당뇨병 환자', 6.228],
            ['정상', 93.7]
        ]
    }]
});
</script>
</body>
</html>

        <h1>Decision_Tree</h1>
        <div class = "Accuracy_Data">
            <table class = "table table-striped">
                <thead>
                <tr>
                    <td><B>Training 정확도</B></td>
                    <td><B>Test 정확도</b></td>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td> {{train_Accuracy_Data}}%</td>
                    <td>{{test_Accuracy_Data}}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>


    {% endfor %}
<p>{{risk_data}}</p>
{% endblock %}

